<a href="https://colab.research.google.com/github/KishorAlagappan/MongoDB-Task/blob/main/Telephone_Directory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Telephone Directory CRUD Operation***

In [ ]:
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo) (2.2.1)

**1.Import necessary modules.**

In [ ]:
import pymongo
from pymongo import MongoClient

In [ ]:
record = MongoClient('mongodb+srv://Kishor:<kishor16s@>@cluster0.ee5mqy8.mongodb.net/?retryWrites=true&w=majority')

**2.Create Database with name *db*.**

In [ ]:
db = record['TELEPHONE_DIRECTORY']

**2. Creating a collection.**

In [ ]:
record = db['directory']

**3. Insert the record into the collection.**

In [ ]:
record.insert_many([{"Name":"Kishor","Age":23,"Phone_number":9632154678,"Address":"Banglore","State":"Karnataka"},{"Name":"Sharan","Age":26,"Phone_number":9632123478,"Address":"Banglore"},{"Name":"Kavya","Age":27,"Phone_number":7812452634,"Address":"Chennia"},{"Name":"Sindhu","Age":26,"Phone_number":7845128956,"Address":"Patna"},{"Name":"Samarth","Age":31,"Phone_number":7722772277,"Address":"Hubli"},{"Name":"Vidya","Age":24,"Phone_number":9756123789,"Address":"Banglore"},{"Name":"Kishor","Age":28,"Phone_number":9632154678,"Address":"Banglore"}])

**4. Make a query to find the records you just created.**

In [ ]:
a=record.find()
for i in a:
  print(i)

**5. Modify the records, use the update_one() method.**

In [ ]:
b=record.update_one({"Name":'keshavan'},{'$set':{'Age':'33'}})

**6.The update_one() method requires two arguments, query and update.**

In [ ]:
c = record.update_one({"Name":"Kishor"},{"$unset":{"State":"Karnataka"}})

**7.Delete the record, use delete_one() method**

In [ ]:
d=record.delete_one({"Name":"Kishor"})